In [60]:
# Import Dependencies
import pandas as pd

In [61]:
bitcoin_csv = "../Unsolved/Resources/bitcoin_cash_price.csv"
dash_csv = "../Unsolved/Resources/dash_price.csv"

In [62]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [63]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [64]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [65]:
# Merge the two DataFrames together based on the Dates they share
merged_df = pd.merge(bitcoin_df, dash_df, on='Date')
merged_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [66]:
# Rename columns so that they are differentiated
renamed_merged_data = merged_df.rename(columns={'Open_x':'Bitcoin Open','High_x':'Bitcoin High','Low_x':'Bitcoin Low','Close_x':'Bitcoin Close','Volume_x':'Bitcoin Volume','Market Cap_x':'Bitcoin Market Cap','Open_y':'Dash Open','High_y':'Dash High','Low_y':'Dash Low','Close_y':'Dash Close','Volume_y':'Dash Volume','Market Cap_y':'Dash Market Cap'})
renamed_merged_data.head()

,Date,Bitcoin Open,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Bitcoin Market Cap,Dash Open,Dash High,Dash Low,Dash Close,Dash Volume,Dash Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [67]:
# alternatively you can set your suffixes when the merge occurs
alternative_df = pd.merge(bitcoin_df, dash_df, on='Date', suffixes=("_Bitcoin","_Dash"))
alternative_df.head()

,Date,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [68]:
# Collecting best open for Bitcoin and Dash
best_open_bitcoin = renamed_merged_data.sort_values('Bitcoin Open').max()
best_open_bitcoin

Date                       9-Sep-17
Bitcoin Open                 772.42
Bitcoin High                1091.97
Bitcoin Low                  683.94
Bitcoin Close                754.56
Bitcoin Volume          3.19623e+09
Bitcoin Market Cap    9,866,110,000
Dash Open                    400.42
Dash High                    409.77
Dash Low                     376.34
Dash Close                   399.85
Dash Volume             2.67415e+08
Dash Market Cap       3,009,530,000
dtype: object

In [69]:


best_open_dash = renamed_merged_data.sort_values('Dash Open').max()
best_open_dash

Date                       9-Sep-17
Bitcoin Open                 772.42
Bitcoin High                1091.97
Bitcoin Low                  683.94
Bitcoin Close                754.56
Bitcoin Volume          3.19623e+09
Bitcoin Market Cap    9,866,110,000
Dash Open                    400.42
Dash High                    409.77
Dash Low                     376.34
Dash Close                   399.85
Dash Volume             2.67415e+08
Dash Market Cap       3,009,530,000
dtype: object

In [70]:
# Collecting best close for Bitcoin and Dash
best_close_bitcoin = renamed_merged_data.sort_values('Bitcoin Close').max()
best_close_bitcoin

Date                       9-Sep-17
Bitcoin Open                 772.42
Bitcoin High                1091.97
Bitcoin Low                  683.94
Bitcoin Close                754.56
Bitcoin Volume          3.19623e+09
Bitcoin Market Cap    9,866,110,000
Dash Open                    400.42
Dash High                    409.77
Dash Low                     376.34
Dash Close                   399.85
Dash Volume             2.67415e+08
Dash Market Cap       3,009,530,000
dtype: object

In [71]:
best_close_dash = renamed_merged_data.sort_values('Dash Close').max()
best_close_dash

Date                       9-Sep-17
Bitcoin Open                 772.42
Bitcoin High                1091.97
Bitcoin Low                  683.94
Bitcoin Close                754.56
Bitcoin Volume          3.19623e+09
Bitcoin Market Cap    9,866,110,000
Dash Open                    400.42
Dash High                    409.77
Dash Low                     376.34
Dash Close                   399.85
Dash Volume             2.67415e+08
Dash Market Cap       3,009,530,000
dtype: object

In [72]:
# Collecting the best total volume for Bitcoin and Dash
bitcoin_volume = round(renamed_merged_data["Bitcoin Volume"].sum()/1000000,2)
dash_volume = round(renamed_merged_data["Dash Volume"].sum()/1000000,2)

In [73]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({'Best Open Bitcoin': best_open_bitcoin,
'Best Open Dash': best_open_dash, 'Best Close Bitcoin': best_close_bitcoin, 'Best Close Dash': best_close_dash, 'Bitcoin Volume': bitcoin_volume, 'Dash Volume': dash_volume})
summary_df

,Best Open Bitcoin,Best Open Dash,Best Close Bitcoin,Best Close Dash,Bitcoin Volume,Dash Volume
Date,9-Sep-17,9-Sep-17,9-Sep-17,9-Sep-17,24383.05,2960.28
Bitcoin Open,772.42,772.42,772.42,772.42,24383.05,2960.28
Bitcoin High,1091.97,1091.97,1091.97,1091.97,24383.05,2960.28
Bitcoin Low,683.94,683.94,683.94,683.94,24383.05,2960.28
Bitcoin Close,754.56,754.56,754.56,754.56,24383.05,2960.28
Bitcoin Volume,3.19623e+09,3.19623e+09,3.19623e+09,3.19623e+09,24383.05,2960.28
Bitcoin Market Cap,"9,866,110,000","9,866,110,000","9,866,110,000","9,866,110,000",24383.05,2960.28
Dash Open,400.42,400.42,400.42,400.42,24383.05,2960.28
Dash High,409.77,409.77,409.77,409.77,24383.05,2960.28
Dash Low,376.34,376.34,376.34,376.34,24383.05,2960.28
Dash Close,399.85,399.85,399.85,399.85,24383.05,2960.28
Dash Volume,2.67415e+08,2.67415e+08,2.67415e+08,2.67415e+08,24383.05,2960.28
Dash Market Cap,"3,009,530,000","3,009,530,000","3,009,530,000","3,009,530,000",24383.05,2960.28