### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [36]:
total_players = purchase_data['SN'].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [35]:
# Grabbing the values from the dataframe and saving them to variables for ease of use
unique_items = purchase_data['Item Name'].value_counts()
unique_items_total = purchase_data['Price'].sum()
unique_items_average = (unique_items_total/total_players)

# For 'Number of Unique Items, not sure if there is a more eloquent way to grabbing the total but this seeme to work
# and I used total players because it doesnt seem necessary to create another variable to store a value that we already have
unique_items_summary = pd.DataFrame({
    'Number of Unique Items' : [unique_items.count()],
    'Average Price' : [unique_items_average],
    'Number of Purchases' : [total_players],
    'Total Revenue' : [unique_items_total]})

# some styling, thanks to stackoverflow - tried to map them in the creation of the df but it did not work
unique_items_summary['Average Price'] = unique_items_summary['Average Price'].map('${:,.2f}'.format)
unique_items_summary['Total Revenue'] = unique_items_summary['Total Revenue'].map('${:,.2f}'.format)
unique_items_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [34]:
# Grabbing the gender totals and percents
gender_grouped_total = purchase_data['Gender'].value_counts()
gender_grouped_percents = (gender_grouped_total / total_players) * 100

# new summary df
gender_summary = pd.DataFrame({
    'Total Count' : gender_grouped_total,
    'Percentage of Players' : gender_grouped_percents
})

# some foramtting, this time to percentages
gender_summary['Percentage of Players'] = gender_summary['Percentage of Players'].map('{:,.2f}%'.format)

gender_summary

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:

## Purchasing Analysis (Gender)

# Groupby seems to be necessary in this situation, in the exmaple of above, I just used value_counts
# but seeing as we need more information groupby seems to the better option in this case
gender_purchases = purchase_data.groupby('Gender')
gender_count = gender_purchases['Gender'].count()

# mean()
gender_purchases_average = gender_purchases['Price'].mean()

# sum()
gender_purchases_total = gender_purchases['Price'].sum()

# average purchase per person
gender_purchases_total_average = (gender_purchases_total / gender_count)

# new df to summarize everything 
gender_summary_2 = pd.DataFrame({
    'Purchase Count' : gender_count,
    'Average Purchase Price' : gender_purchases_average,
    'Total Purchase Value' : gender_purchases_total,
    'Avg Total Purchase per Person' : gender_purchases_total_average,
})

# formatting, dollars and rounding to 2
gender_summary_2['Average Purchase Price'] = gender_summary_2['Average Purchase Price'].map('${:,.2f}'.format)
gender_summary_2['Total Purchase Value'] = gender_summary_2['Total Purchase Value'].map('${:,.2f}'.format)
gender_summary_2['Avg Total Purchase per Person'] = gender_summary_2['Avg Total Purchase per Person'].map('${:,.2f}'.format)

# Also not sure what the difference is suppose to be from column 3 and 5, they have the same values
gender_summary_2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
# bins to store the different ranges of age
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

# Create labels for these bins 
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# add bin value to everyone in the table
purchase_data['Age Ranges'] = pd.cut(purchase_data['Age'], age_bins, labels=group_names)

# grab the totals for every group and calculate the percent 
age_group_totals = purchase_data['Age Ranges'].value_counts()
age_group_percent = (age_group_totals/total_players) * 100

# summary table based on age, will have to sort it
age_summary = pd.DataFrame({
    'Total Count' : age_group_totals,
    'Percentage of Players' : age_group_percent
})

# format for percentage and sort by index
age_summary['Percentage of Players'] = age_summary["Percentage of Players"].map('{:,.2f}%'.format)

age_summary.sort_index()

       Total Count Percentage of Players
<10             23                 2.95%
10-14           28                 3.59%
15-19          136                17.44%
20-24          365                46.79%
25-29          101                12.95%
30-34           73                 9.36%
35-39           41                 5.26%
40+             13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
# groupby Age
age_data = purchase_data.groupby('Age Ranges')

# calculate missing values
age_group_count = age_data['Age'].count()
age_group_average = age_data['Price'].mean()
age_group_total = age_data['Price'].sum()
age_group_total_average = age_group_total / age_group_count

# summary table based on age and spending
age_summary_2 = pd.DataFrame({
    'Purchase Count' : age_group_totals,
    'Average Purchase Price' : age_group_average,
    'Total Purchase Value' : age_group_total,
    'Avg Total Purchase per Person' : age_group_total_average
})

# formatting
age_summary_2['Average Purchase Price'] = age_summary_2['Average Purchase Price'].map('${:,.2f}'.format)
age_summary_2['Total Purchase Value'] = age_summary_2['Total Purchase Value'].map('${:,.2f}'.format)
age_summary_2['Avg Total Purchase per Person'] = age_summary_2['Avg Total Purchase per Person'].map('${:,.2f}'.format)

age_summary_2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [71]:
# the best way to group this would by the times they appear on the list, so we can use their names
# You can access a specific column while grabbing a set value using the [] notation, since we are only
# interested in the money values i used the 'Price' tag but im sure there is a better way
top_spender_data = purchase_data.groupby('SN')['Price']

# calculate missing values
top_spender_count = top_spender_data.count()
top_spend_average = top_spender_data.mean()
top_spender_total = top_spender_data.sum()

# summary table
top_spender_summary= pd.DataFrame({
    'Purchase Count' : top_spender_count,
    'Average Purchase Price' : top_spend_average,
    'Total Purchase Value' : top_spender_total,
})

# sorting by ascending and then using the head function of 5 will give us the top 5
top_spender_sorted = top_spender_summary.sort_values('Total Purchase Value', ascending=False)

# formatting
top_spender_sorted['Average Purchase Price'] = top_spender_sorted['Average Purchase Price'].map('${:,.2f}'.format)
top_spender_sorted['Total Purchase Value'] = top_spender_sorted['Total Purchase Value'].map('${:,.2f}'.format)

top_spender_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [83]:
# groupby the id and name of the item in order to properly fill the dataframe
most_pop_data = purchase_data.groupby(['Item ID','Item Name'])['Price']

# calculate missing values
most_pop_count = most_pop_data.count()
most_pop_item_cost = most_pop_data.mean()
most_pop_total = most_pop_data.sum()

# summary table
most_pop_summary= pd.DataFrame({
    'Purchase Count' : most_pop_count,
    'Item Price' : most_pop_item_cost,
    'Total Purchase Value' : most_pop_total,
})

# sorting by descending and then using the head function of 5 will give us the top 5
most_pop_sorted = most_pop_summary.sort_values('Purchase Count', ascending=False)

# formatting
most_pop_sorted['Item Price'] = most_pop_sorted['Item Price'].map('${:,.2f}'.format)
most_pop_sorted['Total Purchase Value'] = most_pop_sorted['Total Purchase Value'].map('${:,.2f}'.format)

most_pop_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [86]:
# sorting by descending and then using the head function of 5 will give us the top 5
most_pop_sorted = most_pop_summary.sort_values('Total Purchase Value', ascending=False)

# formatting
most_pop_sorted['Item Price'] = most_pop_sorted['Item Price'].map('${:,.2f}'.format)
most_pop_sorted['Total Purchase Value'] = most_pop_sorted['Total Purchase Value'].map('${:,.2f}'.format)

most_pop_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80