In [308]:
import pandas as pd

In [309]:
# The path to our CSV file
csv_path = "../Unsolved/Resources/KickstarterData.csv"

# Read our Kickstarter data into pandas
kickstarter_df = pd.read_csv(csv_path)

In [310]:
# Get a list of all of our columns for easy reference
kickstarter_df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [311]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
new_kickstarter_df = kickstarter_df[['name', 'goal', 'pledged', 'state', 'country', 'staff_pick', 'backers_count', 'spotlight']]
new_kickstarter_df

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True
...,...,...,...,...,...,...,...,...
4115,Bring Love's Labour's Lost to Minnesota,25000.0,25388.0,successful,US,True,213,True
4116,Score,300.0,340.0,successful,GB,False,17,True
4117,"""The Santaland Diaries"" by David Sedaris in Lo...",6000.0,7140.0,successful,US,False,108,True
4118,REBATEnsemble Presents: ICONS - The Martin Show,300.0,312.0,successful,US,False,6,True
4119,Licensed To Ill,3000.0,3084.0,successful,GB,False,78,True

In [312]:
# Remove projects that made no money at all
cleaned_kickstarter_df = new_kickstarter_df.loc[new_kickstarter_df['pledged' ] > 0]
cleaned_kickstarter_df

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True
...,...,...,...,...,...,...,...,...
4115,Bring Love's Labour's Lost to Minnesota,25000.0,25388.0,successful,US,True,213,True
4116,Score,300.0,340.0,successful,GB,False,17,True
4117,"""The Santaland Diaries"" by David Sedaris in Lo...",6000.0,7140.0,successful,US,False,108,True
4118,REBATEnsemble Presents: ICONS - The Martin Show,300.0,312.0,successful,US,False,6,True
4119,Licensed To Ill,3000.0,3084.0,successful,GB,False,78,True

In [313]:
# Collect only those projects that were hosted in the US
# Create a list of the columns
# Create a new df for "US" with the columns above.
v2_df = cleaned_kickstarter_df.loc[cleaned_kickstarter_df['country'] == 'US']
v2_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [314]:
# Create a new column that finds the average amount pledged to a project
v2_df['average_pledge'] = v2_df['pledged'] / v2_df['backers_count']

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [315]:
# First convert "average_donation", "goal", and "pledged" columns to float
v2_df['pledged'] = v2_df['pledged'].astype(float)
v2_df['goal'] = v2_df['goal'].astype(float)
v2_df['average_pledge'] = v2_df['average_pledge'].astype(float)
v2_df.dtypes
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

name               object
goal              float64
pledged           float64
state              object
country            object
staff_pick           bool
backers_count       int64
spotlight            bool
average_pledge    float64
dtype: object

In [316]:
# Calculate the total number of backers for all US projects

In [317]:
# Calculate the average number of backers for all US projects

In [318]:
# Collect only those US campaigns that have been picked as a "Staff Pick"

In [319]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)