In [31]:
# SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd

database_path = "../Resources/icecreamstore.sqlite"

In [32]:
# Create an engine to connect to the database
engine = create_engine(f"sqlite:///{database_path}")

# db connection
conn = engine.connect()

In [36]:
# Query All Records in the the Database
data = engine.execute("SELECT * FROM icecreamstore")

for record in data:
    print(record)

(1, 'Vanilla', 100, 1)
(2, 'Chocolate', 150, 1.25)
(3, 'Strawberry', 95, 1.25)
(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)
(25, 'testflavor', 5, 0.25)

In [37]:
# makes the query into a dataframe - much cleaner
data2 = pd.read_sql('SELECT * FROM icecreamstore', conn)
data2

   ID       Flavors  Quantities  Price
0   1       Vanilla         100   1.00
1   2     Chocolate         150   1.25
2   3    Strawberry          95   1.25
3   4    Rocky Road          50   1.50
4   5  Cookie Dough          75   1.50
5  25    testflavor           5   0.25

In [35]:
# Query Single Record in the the Database
# add ".fetchall" at the end to make it a list.
single_query = engine.execute('SELECT id, Flavors FROM icecreamstore WHERE Price = 1.25 AND id = 3')

for record in single_query:
    print(record)

(3, 'Strawberry')

In [38]:
single_query2 = pd.read_sql('SELECT id, Flavors FROM icecreamstore WHERE Price = 1.25 AND id = 3', conn)

single_query2

   ID     Flavors
0   3  Strawberry